extends layout 

block content 
    form(method='POST', action=`/edit/${user.id}`)
        input(name='id', type='hidden', value=user.id)
        input(name='first_name', value=user.first_name)
        input(name='last_name', value=user.last_name)
        input(name='email', value=user.email)
        input(name='age', value=user.age)
        input(type='submit', value='Update')